<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">

<head>
  <meta charset="UTF-8">
  <title>SKYBNB - PENDING USERS</title>
</head>

<body>

<section layout:fragment="content">

  <h2>PENDING USERS</h2>

  <div style="margin-top: 20px;" th:if="${ not#lists.isEmpty(users)}">
    <table class="table">
      <thead>
      <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Account Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.status}"></td>
        <td>
          <form th:action="@{/pending_users/{id}(id=${user.id})}" method="post">
            <select name="status" class="form-select">
              <option value="APPROVED">Approve</option>
              <option value="REJECTED">Reject</option>
            </select>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:if="${ #lists.isEmpty(users)}">
    <div style="text-align: center ;" >NO PENDING USERS FOUND</div>
  </div>
  <div style="text-align: center; margin-top: 20px;">
    <a href="/register" class="btn" role="button">Create new User</a>
  </div>
</section>
</body>
</html>
