<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SKYBNB - MY PROPERTIES</title>
  <link rel="stylesheet" href="/css/style.css">
  <style>
  </style>
</head>
<body>

<section layout:fragment="content">
  <h2 th:if="${#authorization.expression('hasRole(''ROLE_LANDLORD'')')}">My Properties</h2>
  <h2 th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Approved Properties</h2>
  <table class="properties-table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Address</th>
      <th>Price per Night (€)</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <!-- Δυναμική λίστα ιδιοκτησιών -->
    <tr th:each="property : ${properties}">
      <td th:text="${property.title}">Sample Title</td>
      <td th:text="${property.description}">Sample Description</td>
      <td th:text="${property.address}">Sample Address</td>
      <td th:text="${property.price}">123.45</td>
      <td>
        <a th:href="@{'/properties/edit/' + ${property.id}}" class="btn">Edit</a>
        <a th:href="@{/properties/delete/{id}(id=${property.id})}" class="btn"
           onclick="return confirm('Are you sure you want to delete this property?');">Delete</a>
      </td>

    </tr>
    </tbody>
  </table>
<section/>

</body>
</html>
