<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SKYBNB - PENDING PROPERTIES</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<section class="main-section" layout:fragment="content">
    <h2>Pending Properties</h2>

    <div class="table-container" th:if="${not #lists.isEmpty(properties)}">
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Owner</th>
                <th>Address</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="property : ${properties}">
                <td th:text="${property.title}"></td>
                <td th:text="${property.user.username}"></td>
                <td th:text="${property.address}"></td>
                <td th:text="'€' + ${property.price}"></td>

                <td>
                    <form th:action="@{'/properties/pending_property/' + ${property.id}}" method="post">
                        <select name="status" class="dropdown">
                            <option value="APPROVED">Approve</option>
                            <option value="REJECTED">Reject</option>
                        </select>
                        <button type="submit" class="btn">Update</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${#lists.isEmpty(properties)}">
        <p>No pending properties found.</p>
    </div>
</section>

</body>
</html>
