<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$CONTENT_TITLE - SKYBNB">SKYBNB</title>
    <!-- Include CSS files -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/cover.css}">
</head>
<body>
<header>
    <h1>SKYBNB</h1>
    <p>ACCOMMODATION MANAGEMENT PLATFORM</p>
</header>

<nav>
    <ul>
        <li><a th:href="@{/}" class="active">Home</a></li>
        <li><a th:href="@{/properties}">View Accommodations</a></li>
        <li th:if="${#authorization.expression('hasRole(\'ROLE_TENANT\')')}"><a th:href="@{/booking/view}">My Bookings</a></li>
        <li th:if="${#authorization.expression('hasRole(\'ROLE_TENANT\')')}"><a th:href="@{/contact}">Contact</a></li>
        <li th:if="${#authorization.expression('hasRole(\'ROLE_LANDLORD\')')}"><a th:href="@{/properties/my_properties}">My Properties</a></li>
        <li th:if="${#authorization.expression('hasRole(\'ROLE_LANDLORD\')')}"><a th:href="@{/properties/new}">Create a Listing</a></li>
        <li th:if="${#authorization.expression('hasRole(\'ROLE_LANDLORD\')')}"><a th:href="@{/booking/pending_booking_requests}">Pending Bookings</a></li>
        <li th:if="${#authorization.expression('hasRole(\'ROLE_ADMIN\')')}"><a th:href="@{/users}">Users</a></li>
        <li th:if="${#authorization.expression('hasRole(\'ROLE_ADMIN\')')}"><a th:href="@{/pending_users}">Pending Users</a></li>
        <li><a th:href="@{/login?logout}">Sign Out</a></li>
    </ul>
</nav>

<main layout:fragment="main-content">
    <!-- Content goes here -->
</main>

<footer>
    <p>&copy; 2024 SKYBNB. All rights reserved.</p>
</footer>
</body>
</html>
