<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SKYBNB ttt - MY BOOKINGS</title>
  <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<section layout:fragment="content">
  <h2>My Bookings</h2>

  <div class="table-container" th:if="${not #lists.isEmpty(bookings)}">
    <table class="table">
      <thead>
      <tr>
        <th>Property</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="booking : ${bookings}">
        <td th:text="${booking.property.title}"></td>
        <td th:text="${booking.startDate}"></td>
        <td th:text="${booking.endDate}"></td>
        <td th:text="${booking.status}"></td>

        <!-- Tenant-specific Cancel Button -->
        <td th:if="${#authorization.expression('hasRole(''ROLE_TENANT'')')}">
          <a th:href="@{'/booking/' + ${booking.id} + '/cancel'}" class="btn btn-danger">Cancel</a>
        </td>

        <!-- Landlord-specific Approval/Deny Buttons -->
        <td th:if="${#authorization.expression('hasRole(''ROLE_LANDLORD'')')}">
          <form th:action="@{'/booking/pending_booking_requests/' + ${booking.id}}" method="post">
            <select name="status" class="dropdown">
              <option value="APPROVED">Approve</option>
              <option value="DENIED">Deny</option>
            </select>
            <button type="submit" class="btn">Update</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <main th:if="${#lists.isEmpty(bookings)}">
    <p>No bookings found.</p>
  </main>
</section>


</body>
</html>
